html, body
  height 100%
body
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background-color #c6c6c6
  color #ffffff
a
  color #00B7FF

img.col-lg-4
  margin-top 110px
  width 300px
  //float left
  //display inline

p.lead
  margin-top 110px
  font-family Garamond,Tahoma,sans-serif
  font-size 2.5rem

a visited
  color white

/* Wrapper for page content to push down footer */
#wrap 
  min-height 100%
  height auto !important
  height 100%
  /* Negative indent footer by its height */
  margin 0 auto -50px
  /* Pad bottom by footer height */
  padding 0 0 50px

/* Set the fixed height of the footer here */
#footer
  padding-top 16px
  text-align center
  height 50px
  background-color #323232
  color black

a > .img-circle //social icons
  height 30px
  width 30px

a > p.pull-right
  margin 5px 10px
